@include media-breakpoint-up(sm){
    .app_navbar-nav{
        margin-bottom: 0;
    }
    .app_mainContainer{
        display: flex;
        flex-direction: column;
        align-items: center;

        .app_aboutContainer{
            flex-direction: row;
            width: 80vw;
            gap: 1rem;
        }
        .app_profilComponent,
        .app_skillToShowComponent{
            display:flex;
            flex-direction: column;
            width: 50%;
        }
    }
    .app_footerContainer{
        flex-direction: row;
        justify-content: space-around;
    }
}
@include media-breakpoint-up(lg){
    .app_navbar-nav{
        margin-bottom: 0;
    }
}