.contact-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.app_formContainer{
    display : flex;
    flex-direction : column;
    align-items: center;
    gap : 0.5rem;
    input,
    textarea{
        display: flex;
    }
    textarea{
        height: 25rem;
    }
}
iframe{
    width : 100%;
    height : 30rem;
}

