.app_contactCardContainer{

    *{
        margin : 0;
        padding : 0;
    }
    .bi {
        padding-right :0.7rem
        ;}
    .cardList-legend{
        margin-bottom : 0.5rem;
    }
    .list-item{
        list-style-type: none;
    }
    .app_link{
        display : block;
        color : $black;
        text-decoration : none;
    }
    .app_link-website{
        display : block;
        gap :0;
        margin-top : 0.5rem;
    }
    .app_bi-globe2{
        color : $black;
    }
}