@include media-breakpoint-up(md) {
  .app-main__container {
    .app-introduction__box {
      .app-title--1 {
        font-size: 3.2rem;
      }
      .app-title--2 {
        font-size: 2.4rem;
      }
      .app-btn {
        font-size: 1.1rem;
      }
    }

    .app-image__banner {
      transform: scale(1);
      height: 13rem;
    }

    .app-modal__body {
      grid-template: 1fr / repeat(2, 1fr);

      .app-modal__image{
        margin: 0 !important;
      }
    }

    .app-footer__container {
      grid-template: 1fr / repeat(3, 1fr);
    }


    .app-card--portfolio__container {
      grid-template-columns: repeat(2, 1fr);
      width: 90vw;
    }

    .app-card--service__container {
      .app-card--service__body-body {
        // !Classe Bootstrap
        .card-title {
          font-size: 1.3rem;
        }
      }
    }

    @media screen and (orientation: landscape) {
      .app-card--service__body {
        // !Classe Bootstrap
        .card-title {
          font-size: 1.3rem;
        }
      }

      .app-card--portfolio__container {
        grid-template-columns: repeat(3, 1fr);
        // width: 85vw;
      }

      .app-about__container,
      .app-contact__container {
        grid-template: 1fr / repeat(2, 1fr) !important;
        width: 85vw;
      }

    }
  }

  .app-footer__container {
    grid-template: 1fr / auto auto auto;
    justify-content: center;
    column-gap: 15vw;
    padding: 3rem;
  }
}
