@include media-breakpoint-up(md){
    .mainContainer{
        .app_introductionContainer-box {
            .app_title-1{
                font-size: 3.2rem;
            }
            .app_title-2{
                font-size: 2.4rem;
            }
            .customBtn{
                font-size: 1.1rem;
            }
        }

        .app_separator{
            width: 30rem;
        }

        .app_image-banner{
            transform: scale(1);
            height: 13rem;
        }

        .app_cardContainer{
            flex-direction: row;
            align-items: flex-start;
            width: 80%;
        }

        .app_card-body{
            width: 30%;
        }

        @media screen and (orientation: landscape){
            .app_card-body{
                min-height: 50vh !important;

                .card-title{
                    font-size: 1.3rem;
                }
            }

            .reaCardContainer{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: auto;
            }
        }

        @media screen and (orientation: portrait){
            .reaCardContainer{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: auto;
            }

            .app_realisationCard-upperBox{
                min-height:30vh;
            }

            .app_cardContainer{
                width: 90%;

                .app_card-body{
                    min-height: 37vh;

                    .card-title{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .app_modal-body{
        display: grid !important;
        grid-template: 1fr / repeat(2, 1fr);
        width: 99%;
    }
    .app_reaCardList{
        // display:flex;
        // justify-content: space-around;
        // width: 80vw;
        // flex-wrap: wrap;
        .reaCard{
            max-width: 45%;
            height: auto;
        }
    }

    .contact-box{
        width: 90vw;
        iframe{
            height: 50rem;
        }
    }

    @media screen and (orientation: landscape){
        .app_profilComponent,
        .app_skillToShowComponent{
            display:flex;
            flex-direction: column;
            width: 50%;
        }
        .app_aboutContainer{
            flex-direction: row !important;
            width: 80vw;
            gap: 1rem;
        }
        .contact-box{
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            height: 100% !important;
            iframe{
                height: 30rem !important;
            }
        }
    }

    .app_accordionContainer{
        width: 80vw;
    }

    .footerContainer{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (orientation: landscape){
        .footerContainer{
            padding-left: 10vw !important;
        }
    }
}

@include media-breakpoint-up(lg){
    .app_profilComponent,
    .app_skillToShowComponent{
        display:flex;
        flex-direction: column;
        width: 50%;
    }
    .app_aboutContainer{
        flex-direction: row !important;
        width: 80vw;
        gap: 1rem;
    }
    .app_cardContainer{
        width: 80% !important;
    }
    .app_card-body{
        min-height: 28vh !important;
        .card-title{
            font-size: 1.4rem !important;
        }
    }
    .contact-box{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        height: 100% !important;
        iframe{
            height: 30rem !important;
        }
    }
    .footerContainer{
        padding-left: 10vw !important;
    }
}

@include media-breakpoint-up(xl){
    .app_card-body{
        min-height: 23vh !important;
        .card-title{
            font-size: 1.8rem !important;
        }
    }
}

@include media-breakpoint-up(xxl){
    .app_card-body{
        min-height: 21vh !important;
        .card-title{
            font-size: 2rem !important;
        }
    }
    @media screen and (orientation: portrait){
        .reaCardContainer{
            grid-template-columns: repeat(3, 1fr) !important;
        }
    }
}
