.app-card--contact__container{

    *{
        margin : 0;
        padding : 0;
    }

    .app-card--contact__nav-legend {
        margin-bottom : 0.5rem;
    }

    .app-nav__item{
        list-style-type: none;

        .app-link{
            display : block;
            color : $black;
            text-decoration : none;

            i {
                padding-right :0.7rem;
            }
        }
    }


    // * Classe de bootstrap Icons =================================================================
    .app-icon__bi-globe2{
        color : $black;
    }
}