.app-card--contact__container{

    *{
        margin : 0;
        padding : 0;
    }
    .bi {
        padding-right :0.7rem
        ;}
    .app-card--contact__list-legend{
        margin-bottom : 0.5rem;
    }
    .app-nav__item{
        list-style-type: none;
    }
    .app-link{
        display : block;
        color : $black;
        text-decoration : none;
    }

    .app-icon__bi-globe2{
        color : $black;
    }
}