.app-contact__container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    gap: 2vw;
}

.app-contact__section--form,
.app-contact__section--map{
    height: 100%;
    width: 100%;
}


.app-contact__section--form{
    *{
        border: 1px solid black;
    }
    textarea {
        display: flex;
        height: auto;
    }
}
.app-contact__section--map{
    iframe {
        width: 100%;
        height: 100%;
    }
}

.app-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}