@import '_app.scss';
@import '_home.scss';
@import '_modale.scss';
@import '_services.scss';
@import '_realisations.scss';
@import '_contact.scss';
@import '_legalnotice.scss';

@import '_components.scss';
@import '_contact-card.scss';
@import '_breakpoint-sm.scss';

@font-face {
    font-family: Nunitosans;
    src: url('font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf')
    format('truetype');
}

*{
    font-family: Nunitosans, Arial, sans-serif;
    box-sizing : border-box;
}

.app-fullScreen{
    min-width: 100vw;
    min-height: 100dvh; //dvh(dynamic viewport height) prevent an unwilling positionning on smartphone screen
}