// * Page parent
@import 'app.scss';

// * Eléments
@import 'header.scss';
@import 'footer.scss';
@import 'modale.scss';
@import 'contactCard.scss';
@import 'components.scss';

// *Pages enfants
@import 'homePage.scss';
@import 'servicesPage.scss';
@import 'portfolioPage.scss';
@import 'contactPage.scss';
@import 'legalNoticePage.scss';

// *Breakpoint
@import '_breakpointMd.scss';
@import '_breakpointLg.scss';
@import '_breakpointXl.scss';
@import '_breakpointXxl.scss';

@font-face {
    font-family: Nunitosans;
    src: url('font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf')
    format('truetype');
}

*{
    font-family: Nunitosans, Arial, sans-serif;
    box-sizing : border-box;
}

.app-full-screen{
    min-width: 100vw;
    min-height: 100%;

    body{
        background-color: $dark;

        #root{
            min-height: 100dvh; //dvh(dynamic viewport height) prevent an unwilling positionning on smartphone screen
        }
    }

}

// ! Bootstrap revue of classe style =================================================================================
.card-hover:hover{
        cursor: default;
        border-radius: 0.6rem;//style's correction to realisation's card due to global selection
        background-color: #efefef;
        box-shadow: 3px 3px 8px $gray-600;
}

.h1, .h2, .h3,
.fw-bold{
    font-weight: 600 !important;
}
