.app-introduction__container{
    position: relative;
    display : flex;
    justify-content : center;
    align-items : center;
    width: 100vw;
    height : 40rem;
    overflow : hidden;

    .app-image__hero{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter : contrast(40%);
    }
}
.app-introduction__box{
    position : absolute;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    top : 30%;
    gap: 1.2rem;

    .app-title--1,
    .app-title--2{
        color : $light;
        opacity: 100%;
        font-weight : bold;
        text-align: center;
        padding: 0rem 2rem;
    }

    .app-title--1{
        font-size: 2.4rem;
    }
    .app-title--2{
        font-size: 2rem;;
    }
}


// *====================================================

.app-about__container{
    display: flex;
    flex-direction: column;
    margin: 3rem 0.8rem 0rem 0.8rem;
    border-radius: 5px;
    padding: 1.5rem;


    .app-image__about{
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        margin-bottom: 2rem;
    }
    .app-profil__box--text{
        width: 96%;
        text-align: justify;
    }
    .app-title--3{
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}