.app_introductionContainer{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 40rem;
    overflow : hidden;

    .app_image-hero{
        filter : contrast(40%);
        transform: scale(0.8);
    }
}
.app_introductionContainer-box{
    position : absolute;
    top : 26%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    width :90%;
    gap: 1rem;
    text-align: center;
    color : $light;

    .app_title-1{
        font-size : 2.8rem;
        font-weight : bold;
    }
    .app_title-2{
        font-size: 2.2rem;
        font-weight : bold;
    }
}


// *====================================================

.app_aboutContainer{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-top: 2rem;
    margin-bottom : 2rem;
    border-radius: 5px;
    padding: 1.5rem;

    .app_image-about{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit: cover;
        margin-bottom: 2rem;
    }
    .app_title-3{
        font-size: 1.3rem;
        text-transform: uppercase;
    }
}