.app-modal__content{
    background-color: $dark !important;
    color: $light;

    .app-modal__header,
    .app-modal__footer{
        border-color: rgba($gray-300, 0.25);
    }

    .app-modal__body{
        display: flex;
        flex-direction: column;
        padding: 2rem;

        .app-modal__image{
            width: 100%;
        }

        .app-modal__box--info{
            padding: 0.5rem 0;
            .app-modal__box{
                padding: 0 0.5rem;

                 *{
                display: inline;
                margin: 0 0.2rem;
                text-align: left;
                }
            }
            .app-hr{
                margin: 0.4rem 0;
            }
        }
    }
}