
.app_modal-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap : 0;
    background-color: $dark !important;
    
    .app_modal-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom : 1px solid $gray-600 !important;
    }
    
    .app_modal-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 3rem;
        width: 100%;
        
        .app_link{
            color: $light;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        .app_infoBox{
            display : flex;
            flex-direction : column;
            margin: 0.5rem 0rem;
            gap : 0.2rem;
            width: 100%;
        }
        .app_infoBox *{
            margin : 0;
            font-size: 1rem;
            text-align: left;
        }
        i{
            display : inline-block;
        }
        p{
            display : inline;
            padding-left : 0.5rem;
        }
    }
    .app_modal-footer{
        border-top : 1px solid $gray-600 !important;
        width: 100%;
    }
}
