

.app-section--title__container{
    display: flex;
    flex-direction : column;
    align-items: flex-start;
    justify-content : center;
    width: 100%;
    margin: 0.5rem 0rem;

    .app-title--underline{
        display: block;
        width: 100%;
        height: 4px;
        margin : 0;
        padding : 0;
        background-color: $primary;
        opacity: 100%;
    }
}