@font-face {
  font-family: Nunitosans;
  src: url('../assets/font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
}

* {
  font-family: Nunitosans, Arial, sans-serif;
  box-sizing: border-box !important;
}

.app-html{
  @extend .min-vh-100;
  @extend .min-vw-100;
  @extend .bg-dark;
}

.app-card--hover:hover {
  cursor: default;
  background-color: #efefef;
  box-shadow: 3px 3px 8px $gray-600;
}
