.app-header__container {
    padding: 0rem 1.5rem;
    background-color: $dark;

    * {
        text-transform: uppercase;
    }

    .app-navbar__brand {
        color: $white;
        font-size: 1.2rem;
    }

    .app-navbar__toggler {
        box-shadow: none;

        &:hover {
            border: 0.1rem solid $white;
        }
    }

    .app-navbar__nav{
        // ! "display: flex;" is set by navbar-nav's bootstrap class
        gap: 0.5rem;

        .app-navbar__nav-item{
            .app-navbar__link {
                color: $white;
                font-weight: bold;
                text-decoration-line: none;

                &:hover {
                    color: $white;
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                }
            }
            .active{
                text-decoration-line: underline;
            }
        }
    }
}
