.app-image__hero {
  filter: contrast(40%);
}

.app-image__banner {
  height: 3.5rem;
  transform: scale(1.1);
}
//* ====================================================
@include media-breakpoint-up(md) {
  .app-image__banner {
    height: 13.0rem;
  }
}
