.app-card--portfolio__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 1vw;
  row-gap: 1vh;
  padding: 0vh 2vw;

  
}
//* BREAKPOINT and Screen ORIENTATION ==================================================================================

@include media-breakpoint-up(md) {
  .app-card--portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
  }

  @media screen and (orientation: landscape) {
    .app-card--portfolio__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include media-breakpoint-up(lg) {
  .app-card--portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw !important;
  }
}

@include media-breakpoint-up(xl) {
  .app-card--portfolio__container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@include media-breakpoint-up(xxl) {
  .app-card--portfolio__container {
    width: 65vw !important;
  }
}
