.app-card--service__container {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  gap: 1rem;
  border: none;
  width: 90vw;
}

//* LG Breakpoint ==============================================
@include media-breakpoint-up(lg) {
  .app-card--service__container {
    grid-template: 1fr / repeat(3, 1fr);
    width: 80vw !important;
  }
}


