.app-footer__container {

  * {
    @extend .m-0;
    @extend .p-0;
    @extend .text-white;
    @extend .text-decoration-none;
    list-style-type: none;
  }

  .app-footer__box {
    @extend .col-12;
    @extend .col-md-3;
    
    .app-footer__link-icon:hover {
      @extend .opacity-100;
      transform: scale(1.1);
      transform: rotate(0.03turn);
      transition: transform 0.4s ease;
      z-index: 0;
    }
    
    
  }
  .app-footer__box-link:hover {
    @extend .opacity-100;
    transform: scale(1.1);
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
    z-index: 0;
  }
}
